FeedbackDemo/Code/LogicApps/logic-daily-analytics.json
{
  "accessEndpoint": "https://prod-18.eastus.logic.azure.com:443/workflows/40f30e9065c54787b58f77e5c2700a82",
  "changedTime": "2025-12-04T09:23:22.6337993Z",
  "createdTime": "2025-12-04T09:11:49.8397521Z",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Action_Email_Report": {
        "inputs": {
          "body": {
            "Body": "<p class=\"editor-paragraph\">@{body('Function_3_Generate_Report')?['htmlReport']}</p>",
            "Importance": "Normal",
            "Subject": "Daily Feedback Analytics Report",
            "To": "patrick.yifan96@67fz2c.onmicrosoft.com"
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v2/Mail"
        },
        "runAfter": {
          "Function_3_Generate_Report": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "Action_Post_to_Teams": {
        "inputs": {
          "body": {
            "messageBody": "<p class=\"editor-paragraph\">@{body('Function_3_Generate_Report')?['teamsSummary']}</p>",
            "recipient": {
              "channelId": "19:4f29c304ac0c45b09895ed5fab53a8b2@thread.tacv2",
              "groupId": "92db7aca-8f40-4d39-8a87-3393ac7fa40f"
            }
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['teams']['connectionId']"
            }
          },
          "method": "post",
          "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
        },
        "runAfter": {
          "Action_Email_Report": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "Function_1_Fetch_Stats": {
        "inputs": {
          "body": {},
          "headers": {
            "Content-Type": "application/json"
          },
          "method": "POST",
          "uri": "https://func-feedback-demo2-ffh3exe9bxgxdmhg.eastus-01.azurewebsites.net/api/FetchFeedbackStats?code=<FUNCTION_KEY_REDACTED>"
        },
        "runAfter": {},
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        },
        "type": "Http"
      },
      "Function_2_Analyze_Trends": {
        "inputs": {
          "body": {
            "currentStats": "@body('Function_1_Fetch_Stats')"
          },
          "headers": {
            "Content-Type": "application/json"
          },
          "method": "POST",
          "uri": "https://func-feedback-demo2-ffh3exe9bxgxdmhg.eastus-01.azurewebsites.net/api/AnalyzeTrends?code=<FUNCTION_KEY_REDACTED>"
        },
        "runAfter": {
          "Function_1_Fetch_Stats": [
            "Succeeded"
          ]
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        },
        "type": "Http"
      },
      "Function_3_Generate_Report": {
        "inputs": {
          "body": {
            "stats": "@body('Function_1_Fetch_Stats')",
            "trends": "@body('Function_2_Analyze_Trends')"
          },
          "headers": {
            "Content-Type": "application/json"
          },
          "method": "POST",
          "uri": "https://func-feedback-demo2-ffh3exe9bxgxdmhg.eastus-01.azurewebsites.net/api/GenerateReport?code=<FUNCTION_KEY_REDACTED>"
        },
        "runAfter": {
          "Function_2_Analyze_Trends": [
            "Succeeded"
          ]
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        },
        "type": "Http"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "Recurrence": {
        "evaluatedRecurrence": {
          "frequency": "Day",
          "interval": 1,
          "schedule": {
            "hours": [
              8
            ]
          },
          "timeZone": "AUS Eastern Standard Time"
        },
        "recurrence": {
          "frequency": "Day",
          "interval": 1,
          "schedule": {
            "hours": [
              8
            ]
          },
          "timeZone": "AUS Eastern Standard Time"
        },
        "type": "Recurrence"
      }
    }
  },
  "endpointsConfiguration": {
    "connector": {
      "outgoingIpAddresses": [
        {
          "address": "40.71.249.139"
        },
        {
          "address": "40.71.249.205"
        },
        {
          "address": "40.114.40.132"
        },
        {
          "address": "40.71.11.80/28"
        },
        {
          "address": "40.71.15.160/27"
        },
        {
          "address": "52.188.157.160"
        },
        {
          "address": "20.88.153.176/28"
        },
        {
          "address": "20.88.153.192/27"
        },
        {
          "address": "52.151.221.184"
        },
        {
          "address": "52.151.221.119"
        }
      ]
    },
    "workflow": {
      "accessEndpointIpAddresses": [
        {
          "address": "4.156.26.80"
        },
        {
          "address": "4.156.25.14"
        },
        {
          "address": "4.156.25.189"
        },
        {
          "address": "20.242.168.44"
        },
        {
          "address": "4.156.241.183"
        },
        {
          "address": "4.156.243.174"
        },
        {
          "address": "4.156.242.86"
        },
        {
          "address": "4.156.243.165"
        },
        {
          "address": "52.224.145.162"
        },
        {
          "address": "4.156.242.96"
        },
        {
          "address": "4.156.243.173"
        },
        {
          "address": "4.156.241.195"
        },
        {
          "address": "4.156.242.97"
        },
        {
          "address": "4.156.242.26"
        },
        {
          "address": "4.156.242.13"
        },
        {
          "address": "172.212.37.35"
        }
      ],
      "outgoingIpAddresses": [
        {
          "address": "52.226.216.187"
        },
        {
          "address": "40.76.148.50"
        },
        {
          "address": "20.84.29.18"
        },
        {
          "address": "40.76.174.39"
        },
        {
          "address": "4.156.27.7"
        },
        {
          "address": "4.156.28.117"
        },
        {
          "address": "4.156.25.188"
        },
        {
          "address": "20.242.168.24"
        },
        {
          "address": "4.156.241.165"
        },
        {
          "address": "4.156.243.170"
        },
        {
          "address": "4.156.242.49"
        },
        {
          "address": "4.156.243.164"
        },
        {
          "address": "52.224.145.30"
        },
        {
          "address": "4.156.242.92"
        },
        {
          "address": "4.156.243.172"
        },
        {
          "address": "4.156.241.191"
        },
        {
          "address": "4.156.241.47"
        },
        {
          "address": "4.156.241.229"
        },
        {
          "address": "4.156.242.12"
        },
        {
          "address": "172.212.32.196"
        }
      ]
    }
  },
  "id": "/subscriptions/6002b2af-9f03-4eae-848a-b292aa75cfcc/resourceGroups/rg-feedback-demo/providers/Microsoft.Logic/workflows/logic-daily-analytics",
  "location": "eastus",
  "name": "logic-daily-analytics",
  "parameters": {
    "$connections": {
      "value": {
        "office365": {
          "connectionId": "/subscriptions/6002b2af-9f03-4eae-848a-b292aa75cfcc/resourceGroups/rg-feedback-demo/providers/Microsoft.Web/connections/office365",
          "connectionName": "office365",
          "connectionProperties": {},
          "id": "/subscriptions/6002b2af-9f03-4eae-848a-b292aa75cfcc/providers/Microsoft.Web/locations/eastus/managedApis/office365"
        },
        "teams": {
          "connectionId": "/subscriptions/6002b2af-9f03-4eae-848a-b292aa75cfcc/resourceGroups/rg-feedback-demo/providers/Microsoft.Web/connections/teams",
          "connectionName": "teams",
          "connectionProperties": {},
          "id": "/subscriptions/6002b2af-9f03-4eae-848a-b292aa75cfcc/providers/Microsoft.Web/locations/eastus/managedApis/teams"
        }
      }
    }
  },
  "provisioningState": "Succeeded",
  "resourceGroup": "rg-feedback-demo",
  "state": "Enabled",
  "type": "Microsoft.Logic/workflows",
  "version": "08584367666828535921"
}
